body {
    background: url(https://images.unsplash.com/photo-1508172819040-536e3f54970f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;/*ขอบด้านนอกทั้ง4ด้าน บน ขวา ล่าง ซ้าย;ช่องว่างด้านนอก*/
    padding: 0; /*padding คือช่องว่างระหว่างเส้นขอบและเนื้อหาขณะที่ช่องว่างนอกพรมแดน; ช่องว่างข้างใน*/
    font-family: 'Montserrat', sans-serif;  

}


.container { /*ขยับตัวเว็บให้มาอยู่ตรงกลาง*/
    width: 960px; /* ตวามกกว้างของแผ่นตรงกลาง*/
    margin: 0 auto;
}
.menubar {
    width: 100;
    height: 50px;
    background: #fff;
    box-shadow: 0 0 10px #666666;
}  /*menubar box on the top */

.menubar .logo {
    float: left;
}

.menubar h1 {
    margin: 0;/*เส้นขอบด้านบนของเมนูบาร์*/
    font-size: 24px;
    font-weight: normal;
    padding-top: 10px; /*กำหนดเส้นด้านและตำแหน่งของข้อความHibiscuscafe*/
    color: palevioletred;
}

.menubar ul.menu { /*ตำแหน้งตัวหนังสื้อในแถบเมนูด้านบน*/
    list-style: none; /*จุดหน้าลิ้งจะหายไป*/
    float: right;
}

.menubar ul.menu li {
    float: left;
    margin-right: 20px;

}

.menubar ul.menu li a {
    text-decoration: none; /*ลบเส้นขีดล่างขอตัวหนังสือลิ้ง*/
    color: palevioletred;
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: all 0.3s ease;

}

.menubar ul.menu li a:hover{
    border-bottom: 2px solid #333;
    padding-bottom: 0;
}

.header{
    margin: 0px;
    width: auto;
    background:url(https://www.ontario.ca/sites/default/files/ice_cream_cake_banner.jpg);
    height:450px;
    background-size: cover;
    background-position: center center;
   
    
}

.header_area{
    padding-top: 150px; /*ตัวหนังสือทุำกอย่างในแถบเฮด*/
    width: 300px;
    margin: auto;
    text-align: left;
    color: palevioletred;
    float: left;


}
.header_area h1{
    margin: 0;
    font-size: 60px;
    font-weight: normal;
 

}

.info1 {
    width: 100%;
    height:300;
    margin-top: 150px;
   
}

/*ของรูปทืี่1*/

.container1{
    width: 1000px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-left: 60px;
}
.box{
  
    position:relative;
    width:300px;
    height:400px;
    background: #000;
    box-shadow:0 30px 30px rgba(0,0,0,.5);
   
    

}

.box .imgBx {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

}

.box .imgBx img{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    transition: 0.5s;
}

.box:hover .imgBx img {
    opacity:0;
}

.box .content{
    position: absolute;
    bottom:20px;
    left:10%;
    width:80%;
    height: 60px;
    background: #fff;
    transition: 0.5s;
    overflow: hidden;
    text-align: left;
    padding:15px;
    box-sizing:border-box;
}

.box:hover .content
{
    width:100%;
    height:100%;
    bottom:0;
    left:0;
}

.box .content h3{
    margin:0;
    padding: 0;
    font-size: 20px;
}

.box .content p{
    margin:10px 0 0;
    padding:0;
    opacity:0;
    line-height:1.2em;
    transition:0.5s;
    text-align:justify;
    
}

.box:hover .content p {
    opacity:1;
    transition-delay:0.5s;
}




/*Footerr*/
.footer {
    width: 100;
    height: 200px;
    background: #fff;
    box-shadow: 0 0 10px #666666;
    margin-top: 100px;
}  

.footer .foot-logo {
    float: left;
}

.footer h1 {
    margin: 0;/*เส้นขอบด้านบนของเมนูบาร์*/
    font-size: 24px;
    font-weight: normal;
    padding-top: 10px; /*กำหนดเส้นด้านและตำแหน่งของข้อความHibiscuscafe*/
    color: palevioletred;
}

.footer ul.ft-menu{ /*ตำแหน้งตัวหนังสื้อในแถบเมนูด้านบน*/
    list-style: none; /*จุดหน้าลิ้งจะหายไป*/
    float: right;
    
}

.footer ul.ft-menu li {
    float: left;
    margin-right: 20px;
    

}

.ft-menu img {
 width: 40px;
 height: 40px;

  
}



